include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
	head(lang="en")
		include pug/metatags.pug
		+title('Главная')
		include pug/styles.pug
		link(href="https://fonts.googleapis.com/css?family=Roboto:500,900", rel="stylesheet")

	body
		include pug/svg.pug

		.nine-lines
			section.questionary.bg
				.questionary-logo
					img.logo-img(src="images/logo.png" alt="")
				form.questionary-form
					input.form-name-line.input-auto#input_name(type="text" placeholder="ИМЯ" value="")
					input.form-date-line.input-auto#input_date(type="text" placeholder="ДАТА РОЖДЕНИЯ" value="")
					input.form-city-line.input-auto#input_city(type="text" placeholder="ГОРОД" value="")
					input.form-contacts-line.input-auto#input_mail(type="text" placeholder="КОНТАКТНЫЕ ДАННЫЕ" value="")
				.questionary-img
					img#postlogo_animation(src="images/postlogo.png" alt="")

			section.skills.bg
				.skills-header
					p.skills-title Навыки
				form.skills-form
					mixin skills-mix( input, label, checked)
						.skills-mix
							input.skills-input(id=label type="checkbox" checked=checked value=input hidden)
							label.skills-label(for=label)= label
					+skills-mix("", "html5", true)
					+skills-mix("", "sass", true)
					+skills-mix("", "VanillaJS", false)
					+skills-mix("", "Git", true)
					+skills-mix("", "css3", true)
					+skills-mix("", "Less", false)
					+skills-mix("", "Angular", false)
					+skills-mix("", "Foundation", false)
					+skills-mix("", "БЭМ", true)
					+skills-mix("", "Gulp", true)
					+skills-mix("", "JQuery", false)
					+skills-mix("", "Bootstrap", false)
					
			section.js.bg
				.js-speedo
					.wrapper
						svg.wrapper-meter
							circle.circle.outline#outline_curves(cx="50%" cy="50%")
							circle.circle.range#low(cx="50%" cy="50%" stroke="#ffc815")
							circle.circle.range#avg(cx="50%" cy="50%" stroke="#a3cd3b")
							circle.circle.range#high(cx="50%" cy="50%" stroke="#0093d7")
							circle.circle.mask#mask(cx="50%" cy="50%")
							circle.circle.outline#outline_ends(cx="50%" cy="50%")
						.wrapper-needle
							img.meter_needle#meter_needle(src="images/needle.png" alt="")
						
						.wrapper-title
							p.title-skill Мой уровень владения Java Script
							label.lbl#lbl(for="") 0%

		include pug/scripts.pug
